# Godot

.godot/
.import/
.export/

# Export Presets

export_presets.cfg

# Logs

*.log

# Temporary Files

*.tmp
*.bak

# macOS

.DS_Store

# Windows

Thumbs.db
desktop.ini

# VS Code

.vscode/

# JetBrains

.idea/

# Python

**pycache**/
*.pyc
